<!DOCTYPE html>

<html lang="en">
	<head>
		<title>Add Article</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="icon" type="image/jpg" href="/resources/images/favicon.jpg" />
		<link href="/styles/dashboard.css" rel="stylesheet" type="text/css" />
  	<link href="/styles/style.css" rel="stylesheet" type="text/css" />
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/trix/1.3.1/trix.css">
  	<link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/trix/1.3.1/trix.js"></script>
  	<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
		<script>
	  	$(function(){
        $("#importNavbar").load(document.cookie ? "/resources/navbar2.html" : "/resources/navbar1.html"); 
        $("#importFooter").load("/resources/footer.html");
        $("#importSidebar").load("/resources/sidebar.html", onnavLoad);
      });
		</script>
	</head>
	<body>
  	<div id = "importSidebar"></div>
  	<div class="top-nav-thingy">
			<span id = "top-name">Name</span>
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			<span class='bx bxs-bell'></span>
			&nbsp;&nbsp;&nbsp;
  	</div>
  	<div class="content" id="appp" v-if="!loading">
    	<div v-if="loading" class="center" style="display:none;">
      	<div id="loader">
        	<h1>LOADING...</h1>
      	</div>
    	</div>
			<div>
  			<div>
  				<div class="form-content">
  	  			<form action = "/api/add-art" method = "POST" enctype = "multipart/form-data">
  						<h1>Add an article</h1>
    					<input required type = "text" name = "name" placeholder = "Name" class="df">
              <br>
            <input id="u" required type = "text" name = "user" readonly class="df">
    					<br>
    					<input required type="hidden" name="content" id="content" placeholder="Write your content..." class="df">
							<trix-editor input="content"></trix-editor>
    					<div class="center-div">
    	  				<button class="form-btn" >Submit</button>
    					</div>
  	  			</form>
  				</div>
  			</div>
			</div>
		</div>
		
	  <!--script src="/scripts/script.js"></script-->
	  <script>
	    const form = document.querySelector("form");
	    
	    form.onsubmit = e => {
	      let data = new FormData(form),
	          name = data.get("name"),
	          content = data.get("content"),
            user = data.get("user")
	    };
	  </script>
	  <script>
	    function onnavLoad() {
	      window.navbar = document.querySelector(".sidebar");
	      window.closeBtn = document.querySelector("#btn");
	      window.searchBtn = document.querySelector(".bx-search");
	
	      closeBtn.addEventListener("click", () => {
	        navbar.classList.toggle("open");
	        menuBtnChange();
	      });
	
	      searchBtn.addEventListener("click", () => {
	        navbar.classList.toggle("open");
	        menuBtnChange();
	      });
	      menuBtnChange = function() {
	        if(navbar.classList.contains("open")) {
	          closeBtn.classList.replace("bx-menu", "bx-menu-alt-right");
	        } else {
	          closeBtn.classList.replace("bx-menu-alt-right", "bx-menu");
	        }
	      }
	    }
	
	    let topName = document.getElementById("top-name");
	  
	
	    fetch("/api/user")
	    .then(response => response.json())
	    .then(data => {
	      topName.textContent = data.name;
        document.getElementById("u").value = data.name;
	    });
	  </script>
	
	  <script src="/scripts/vue.js"></script>
	</body>
</html>
