<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="icon" type="image/jpg" href="/resources/images/favicon.jpg" />
	<link href="/styles/style.css" rel="stylesheet" type="text/css" />
  	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js">

	</script>
  <title>Article 2</title>
  <script>
	  $(function(){
        $("#importNavbar").load(document.cookie ? "/resources/navbar2.html" : "/resources/navbar1.html"); 
        $("#importFooter").load("/resources/footer.html");
      });
	</script>
</head>
<body>
  <div class="top-land" id="art2-land">
   
		<div class="left-div">
			<h1 class="text-str">Fitness during <span class="typed-text">Quarantine</span></h1>
      </div>
  </div>
  
  <div class="white-container">
    <br><br>
    <article>
    Physical exercises are very crucial to our well-being. Whenever you feel laziness amidst Quarantine - you can do some exercises to keep you fit, calm and charming!
    <br><br>
    The COVID-19 pandemic has created an unprecedented worldwide public health concern. Characterized by rapid and high frequency human-to-human transmission, the World Health Organization has recommended implementation of public health measures, including isolation of all suspected infectious individuals for a 14-day quarantine period, while governments have introduced “social distancing” and “lock-downs” of varying severity to curtail COVID-19 spread. Recent COVID-19 research further suggests there are major sleep problems and psychological disorders (e.g., stress, anxiety, depression) associated with the reduction of movement and activities, as well as the reduced social interaction.
    <br><br>
    Here are a few tips and suggestions to keep you fit even at home :
    <br><br>
    <div class="center">
    <img src="/resources/images/walk.jpg" alt="walk">
    </div>
    <br>
    <em>Walk</em> - Even in small spaces, walking around or walking on the spot, can help you remain active. If you have a call, stand or walk around your home while you speak, instead of sitting down. If you decide to go outside to walk or exercise, be sure to maintain at least a 1-meter distance from other people.
    <br><br>
    <div class="center">
    <img src="/resources/images/relax.png" alt="walk" width="200">
    </div>
    <br>
    <em>Relax</em> - Meditation and deep breaths can help you remain calm. Try to do the things that make you feel happy and calm.
    <br><br>
    For optimal health, it is also important to remember to eat healthily and stay hydrated. WHO recommends drinking water instead of sugar-sweetened beverages. Limit or avoid alcoholic beverages for adults and strictly avoid these in young people, and pregnant and breastfeeding women, or for other health reasons. Ensure plenty of fruits and vegetables, and limit the intake of salt, sugar and fat. Prefer whole grains rather than refined foods.
    <br><br>
    <a href="/pages/dashboard">Back to Dashboard</a>
    <br><br><br><br>
    </article>
  </div>
  <script src="/scripts/script.js"></script>
</body>
</html>