<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="icon" type="image/jpg" href="/resources/images/favicon.jpg" />
	<link href="/styles/style.css" rel="stylesheet" type="text/css" />
  	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js">

	</script>
  <title>Article 3</title>
  <script>
	  $(function(){
        $("#importNavbar").load(document.cookie ? "/resources/navbar2.html" : "/resources/navbar1.html"); 
        $("#importFooter").load("/resources/footer.html");
      });
	</script>
</head>
<body>
  <div class="top-land" id="art3-land">
   
		<div class="left-div">
      </div>
  </div>
  
  <div class="white-container">
    <br><br>
    <article>
    Let's clear a common misconception that <em>Self Care is synonymous with self-indulgence or being selfish</em> - This is not true , instead self-care means taking care of yourself and your health so that you can do you work properly, you can be happy and healthy and you can help and care for others.
    <br><br>
    <div class="tc">
      <strong>Taking a little me-time is not self-indulgence, it's a necessity.</strong>
    </div>
    <br><br>
    Paula Gill Lopez, PhD, an associate professor and chair of the department of psychological and educational consultation at Fairfield University in Fairfield, Connecticut, says the need for self-care is obvious. “We have an epidemic of anxiety and depression,” she says. “Everybody feels it.”
    <br><br>
    <div class="tc">
      <strong>What exactly is self-care ?</strong>
    </div>
    <br><br>
    Self-care includes everything related to staying physically healthy — including hygiene, nutrition, and seeking medical care when needed. It’s all the steps an individual can take to manage stressors in his or her life and take care of his or her own health and well-being.
    <br><br>
    <div class="tc">
      <strong>What are the benefits of self-care ?</strong>
      
    </div>
    <br><br>
    Self-care is anything you do to take care of yourself so you can stay physically, mentally, and emotionally well. Its benefits are better physical, mental, and emotional health and well-being. Research suggests self-care promotes positive health outcomes, such as fostering resilience, living longer, and becoming better equipped to manage stress.
    <br><br>
    <div class="tc">
      <strong>Can self-care help prevent disease or illness?</strong>
      
    </div>
    <br><br>
    While self-care can help prevent future health problems, it alone is not a cure or treatment for disease or illness. For those living with a chronic disease (such as heart disease or cancer), however, practicing self-care may help patients with managing symptoms, bolstering other aspects of health, and improving emotional well-being.
    <br><br>
    Self-care requires checking in with yourself and asking yourself how you’re doing and what your body’s asking for. Some people use it to deal with difficult news stories, others just to maintain their happiness day to day. Self-care does not mean the same thing for everyone.
    <br><br>
    <a href="/pages/dashboard">Back to Dashboard</a>
    <br><br><br><br>

    
    </article>
  </div>
  <script src="/scripts/script.js"></script>
</body>
</html>