<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/jpg" href="/resources/images/favicon.jpg" />
	<link href="/styles/style.css" rel="stylesheet" type="text/css" />
	<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css" rel="stylesheet">
  <title>LWAB - Login</title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>
<body>
  <div class="bg-form">
  <div class="card-forms" id="card-form-1">
  <div class="form-content">
  <form action = "/api/login" method = "POST" enctype = "multipart/form-data">
  <h1>We are happy to have you back!</h1>
    <input type = "email" name = "email" placeholder = "Email"><br><br>
    <input type = "password" name = "password" placeholder = "Password">
    <p id = "error"></p>
    <div class="center-div">
    <button class="form-btn" >Submit</button>
    </div>
  </form>
  </div>
  </div>
  <script src="/scripts/script.js"></script>
  <script>
    const form = document.querySelector("form");
    const error = document.querySelector("#error");

    form.onsubmit = e => {
      let data = new FormData(form),
          email = data.get("email"),
          password = data.get("password");

      if(!email || !password) {
          e.preventDefault();
          error.textContent = "Please fill all inputs";
      }
    };
  </script>
</body>
</html>