<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="icon" type="image/jpg" href="/resources/images/favicon.jpg" />
	<link href="/styles/dashboard.css" rel="stylesheet" type="text/css" />
	<title>Dashboard - Meditate</title>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js">
	</script>
  <script src="https://cdn.jsdelivr.net/npm/canvas-confetti@1.4.0/dist/confetti.browser.min.js"></script>
 
  <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>

	<script>
	  $(function(){
        $("#importNavbar").load(document.cookie ? "/resources/navbar2.html" : "/resources/navbar1.html"); 
        $("#importFooter").load("/resources/footer.html");
        $("#importSidebar").load("/resources/sidebar.html", onnavLoad);
      });
	</script>
</head>

<body>


  <div id = "importSidebar"></div>
  <div class="top-nav-thingy">
    <span id = "top-name">Name</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class='bx bxs-bell'></span>&nbsp;&nbsp;&nbsp;
  </div>
  <div class="content">
    
    <h1>Dashboard - Meditate</h1>
    <br><br>
    <div v-if="!loading" id="app">
      <div v-if="loading" class="center">
      <div id="loader"></div>
      <br><br><br><br><br><br><br><br>
      </div>
      <div id="app" v-if="!loading">
        <div v-if="loading" class="center">
      <div id="loader">
        <h1>LOADING...</h1>
      </div>
        </div>
      <h2>Start Meditation</h2>  
     <svg width="400" height="400"
  xmlns="http://www.w3.org/2000/svg" style="float:left">
            <image href="/resources/svg/meditation.svg" height="400" width="400"/>
        </svg> 
     
      <br><br>

      <button class="n-btn" style="font-size:2em;opacity:1;" onclick="onTimer()">Start Timer</button>
      <br><br>
      <h2>Timer : <span id="counter" class="cb">0</span> seconds</h2>
      <br><br>
      <h2 id="textt">Brilliant things happen in calm minds</h2>
      <br><br>
      <button class="n-btn" style="font-size:2em;opacity:1;" onclick="reset()">Reset Timer</button>
      </div>
    </div>
  </div>
  <script>
      function onnavLoad() {
        window.navbar = document.querySelector(".sidebar");
        window.closeBtn = document.querySelector("#btn");
        window.searchBtn = document.querySelector(".bx-search");

        closeBtn.addEventListener("click", () => {
          navbar.classList.toggle("open");
          menuBtnChange();
        });

        searchBtn.addEventListener("click", () => {
          navbar.classList.toggle("open");
          menuBtnChange();
        });
        menuBtnChange = function() {
          if (navbar.classList.contains("open")) {
            closeBtn.classList.replace("bx-menu", "bx-menu-alt-right");
          } else {
            closeBtn.classList.replace("bx-menu-alt-right", "bx-menu");
          }
        }
      }

      let topName = document.getElementById("top-name");

      fetch("/api/user")
      .then(response => response.json())
      .then(data => {
          topName.textContent = data.name;
      });

      i = 60;
function onTimer() {
  document.getElementById('counter').innerHTML = i;
  i--;
  if (i < 0) {
    alert('Done!');
    document.getElementById("textt").innerHTML = "You have completed one minute of meditation.";
    confetti();
    
  }
  else {
    setTimeout(onTimer, 1000);
  }
}
function reset() {
  window.location.reload();
}
  </script>

  <script src="/scripts/vue.js"></script>
</body>
</html>