<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/jpg" href="/resources/images/favicon.jpg" />
	<link href="/styles/style.css" rel="stylesheet" type="text/css" />
	<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css" rel="stylesheet">
  <title>New Password</title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>
<body>
  <div class="bg-form">
  <div class="card-forms" id="card-form-3">
  <div class="form-content">
  <form action = "/api/new-password" method = "POST" enctype = "multipart/form-data">
  <h1>Create a new password.</h1>
    <input type = "email" name = "email" placeholder = "Email">
    <input type = "password" name = "oldPassword" placeholder = "Old password">
    <input type = "password" name = "newPassword" placeholder = "New password">
    <input type = "password" name = "confirmPassword" placeholder = "Confirm password">
    <p id = "error"></p>
    <div class="center-div">
    <button>Submit</button>
    </div>
  </form>
  </div>
  </div>
  <script src="/scripts/script.js"></script>
  <script>
    const form = document.querySelector("form");
    const error = document.querySelector("#error");

    form.onsubmit = e => {
      let data = new FormData(form),
          email = data.get("email"),
          oldPassword = data.get("oldPassword"),
          password = data.get("password"),
          confirmPassword = data.get("confirmPassword");

      if(email && oldPassword && password && confirmPassword) {
        if(password !== confirmPassword) {
          // nonmatching passwords
          e.preventDefault();
          error.textContent = "Passwords do not match";
        } else if(!/[A-Z].*[A-Z]/.test(password)) {
          // not enough capitals
          e.preventDefault();
          error.textContent = "Password must contain at least 2 uppercase letters";
        } else if(!/[0-9].*[0-9]/.test(password)) {
          // not enough digits
          e.preventDefault();
          error.textContent = "Password must contain at least 2 digits";
        } else if(password.length < 8) {
          // short password
          e.preventDefault();
          error.textContent = "Password must be at least 8 characters long";
        }
      } else {
          e.preventDefault();
          error.textContent = "Please fill all inputs";
      }
    };
  </script>
</body>
</html>